img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

p {
  font-family: Raleway;
  margin-left: 1.666%;
  font-size: 50px;
  font-weight: 400;
  border-bottom: 1px solid black;
  width: 40%;
  padding-bottom: 20px;
}

body a {
  text-decoration: none;
  color: black;
}
