body {
  background: rgba(30, 30, 30, 1);
}

ul {
  list-style-type: none;
}

h1 {
  color: #e74c3c;
}

img {
  width: 300px;
  border-radius: 50%;
}

.navbar-inverse .navbar-brand {
  color: #e74c3c
}

.navbar-inverse {
  background-color:  rgba(30, 30, 30, 1);
  border-color:  rgba(30, 30, 30, 1);
}

.main-header {
margin-top: 70px;
color: gray;
text-align: center;
}

.main-header p {
  margin: -10px 0 30px;
  font-size: 1em;
}

.header-wrapper {
  margin: 0 auto;
  padding: 30px;
  font-size: 1.5em;
}

.middle-container {
  background: #f9f9f9;
  height: 100%;
  padding: 30px;
  font-size: 1.15em;
  display: block;
}

.footer {
  height: 100px;
  display: block;
  text-align: center;
}

.footer p {
  color: #9d9d9d;
}

@media (min-width: 769px) {

  .header-wrapper {
    width: 80%;
    max-width: 1000px;
  }

  .middle-wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }

}
