/********************************
Colors:

border-color: #bdc3c7;
date color: #3498db;
h2 color: #2c3e50;

font: source sans pro;


********************************/
body {
  margin: auto;
  width: 100%;
  max-width: 1500px;
  background: rgba(30, 30, 30, 1);
}

.navbar-inverse {
    background-color: rgba(30, 30, 30, 1);
    border-color: rgba(30, 30, 30, 1);
}

.blog {
  margin: auto;
  margin-top: 70px;
  width: 70%;
  max-width: 1000px;
  border: 10px solid #bdc3c7;
  padding: 20px;
}

h1 {
  width: 60%;
  margin-left: 2%;
  color: rgba(50, 80, 120, 1);
}


p {
  width: 96%;
  margin-left: 2%;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: source sans pro;
  letter-spacing: 0.05rem;
  color: #9d9d9d;
}

.p_left-border {
  padding-left: 1%;
  border-left: 5px solid #bdc3c7;
}

.date {
  font-size: 15px;
  color: rgba(200, 50, 50, 1);
  text-transform: uppercase;
}

hr.style1 {
  width: 92%;
  margin: auto;
	border-top: 3px double #8c8b8b;
}

#carousel-example-generic {
  width: 65%;
  margin: 0 auto;
  margin-top: 70px;
}

#carousel-example-generic img {
  background-image: center;
}

.carousel-caption {
  color: lightgray;
}
